@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500&display=swap');

/* FONTS */
/* 
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
    padding: 0;    
}

body {
    background-color: hsl(30, 38%, 92%); /* hsl(228, 12%, 48%); */
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0 2rem;
}

body p {
    font-size: 14px;
}

.main-card {
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;

    border-radius: 12px;
    max-width: 980px;
    
    display: grid;
    grid-template-columns: 50% 50%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding: 12%;
    border-radius: 0 12px 12px 0;
    gap: 35px;
}

.small-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: 1ch;
}

.main-title {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 54px;
}

.main-para {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 22px;
    line-height: 1.6;
}

.card-price {
    display: flex;
    align-items: center;
    gap: 10%;
}

.card-price .sprice {
    font-family: 'Fraunces', serif;
    font-size: 3em;
    color: hsl(158, 36%, 37%);
}

.card-price .mprice {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-weight: 500;
}

.main-btn {
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 25px;
    border-radius: 17px;
    font-size: 18px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.cart-ico {
    position: relative;
    top: .125em;
    font-weight: 700;
    
}

.main-btn:hover {
    background-color: hsl(212, 21%, 14%);
}


/* Mobile Compatibility - 375px */
/* Keeping the current max used screen size in mind, max width is set to 780px */
@media(max-width: 780px) {


    body {
        margin: 1rem 2rem;
    }

    .main-card {
        grid-template-columns: none;
        grid-template-rows: 35% 65%;
        max-width: 640px;
        max-height: 860px;
    }

    img {
        border-radius: 12px 12px 0 0;
    }

    .content-container {
        padding: 7%;
        gap: 25px;
    }

    .main-title {
        font-size: 45px;
    }
}